<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248382408336-rtie8o1qvdo4ojr6p28kecp602rjbhkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248382408336-rtie8o1qvdo4ojr6p28kecp602rjbhkn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>248382408336-c10qktjlhhpc923iq2egouv8poe03668.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArM6TEOAyX9KQnbn71yqFkXF62cdm6nY8</string>
	<key>GCM_SENDER_ID</key>
	<string>248382408336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yvargas30646.rhactual</string>
	<key>PROJECT_ID</key>
	<string>rhactual-198a2</string>
	<key>STORAGE_BUCKET</key>
	<string>rhactual-198a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248382408336:ios:0bb75f2e8651c78d8a3a15</string>
</dict>
</plist>